<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyShowsHub</title>
</head>
<body>
    <h1>My Shows Hub</h1>
    <nav>
        <ul>
            <li><a href="">Anime List</a></li>
            <li><a href="/shows/new">Add Anime</a></li>
        </ul>
    </nav>
    
    <h1>Welcome to My Shows Hub!</h1>

    <footer>
        <a href="https://animixplay.to/">Watch your favorite anime Here!</a>
    </footer>
</body>
</html>