<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/headTag.ejs') %>

    <body>
        <h1>My Shows Hub</h1>

        <%- include('./partials/navBar.ejs') %>

            <h2>Welcome to My Shows Hub!</h2>

            <footer>
                <a href="https://animixplay.to/">Watch your favorite anime Here!</a>
            </footer>

    </body>

</html>