<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Show</title>
</head>
<body>
    <h1>My Shows Hub</h1>
    <nav>
        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/allShows">Anime List</a></li>
            <li><a href="/new">Add Anime</a></li>
        </ul>
    </nav>

    <h2>New Show</h2>

    <form action="/new" method="POST">
        Title: <input type="text" name="title" /><br />
        Description: <input type="text" name="description" /><br />
        Sources: <input type="text" name="sources" /><br />
        <input type="submit" name="" value="Add Show" />
    </form>
    <br />
    <br />
    <br />
    <footer>
        <a href="https://animixplay.to/">Watch your favorite anime Here!</a>
    </footer>

</body>
</html>