<!DOCTYPE html>
<html lang="en">

<%- include('./partials/headTag.ejs') %>

    <body>
        <h1>My Shows Hub</h1>

        <%- include('./partials/navBar.ejs') %>

            <h2>New Show</h2>

            <form action="/new" method="POST">
                <h3>Title</h3><input type="text" name="title" /><br />
                <h3>Description</h3><input type="text" name="description" /><br />
                <h3>Sources</h3><input type="text" name="sources" /><br />
                <input type="submit" name="" value="Add Show" />
            </form>
            <br />
            <br />
            <br />
            <footer>
                <a href="https://animixplay.to/">Watch your favorite anime Here!</a>
            </footer>

    </body>

</html>